################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/production-service/.vs
/production-service/bin/Debug/net9.0
