.app-layout {
  display: flex;
}

.layout-main {
  flex: 1;
  margin-left: 250px;
}

.layout-content {
  padding: 20px;
  background: #f9fafb;
  min-height: 100vh;
}

@media (max-width: 900px) {
  .layout-main {
    margin-left: 220px;
  }
}