MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=order_db
MYSQL_USER=order_user
MYSQL_PASSWORD=order_pass123

DB_HOST=mysql
DB_PORT=3306
DB_USER=order_user
DB_PASSWORD=order_pass123
DB_NAME=order_db

SERVICE_NAME=order-service
SERVICE_PORT=3001

RABBITMQ_HOST=rabbitmq
